h1 {
    text-align: center;
    font-family: 'Karla', sans-serif;
}
#totaldisplay {
    margin-bottom: 50px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 150%;
    text-align: center;
    border-radius: 25px;
    border: 2px solid darkgray;
    background: white;
}
.row {
    margin-left: 15%;
    margin-right: 10%;  
}
.calcbutton {
    width: 40px;
    height: 30px;
    border: 1px solid darkblue;
    border-top: 2px solid blue;
    margin-top: 2px;
    border-radius: 25px;
}   
.calcbuttonclear {
    width: 40px;
    height: 30px;
    border: 1px solid darkred;
    border-top: 2px solid red;
    margin-top: 2px;
    border-radius: 25px;
}
.calcbuttonsymbol {
    border-radius: 25px;
    width: 40px;
    height: 30px;
    border: 1px solid darkblue;
    border-top: 2px solid blue;
    margin-top: 2px;
}
.calculator {
    width: 250px;
    height: 335px;
    background-color: lightblue;
    margin: 0 auto;
    border: 4px solid darkgray;
}
body, html {
    width: 100%;
    height: 100%;
    background-image: url(bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
}